<link rel="stylesheet" href="/css/header.css" />
<header id="header">
  <div id="logo">
    <h2><a href="/">Instagram</a></h2>
  </div>
  <div id="search">
    <input type="text" id="search-user" placeholder="Search" />
  </div>
  <div id="profile">
    <img src="/img/users/<%=user.photo%>" alt="user-photo" />
    <div class="dropdown visible">
      <div id="profile-btn"><a href="/<%=user.id%>">Profile</a></div>
      <div id="settings"><a href="/accounts/edit">Settings</a></div>
      <div id="logout">Logout</div>
    </div>
  </div>
</header>

<script src="/js/header.js"></script>
