<link rel="stylesheet" href="/css/header.css" />
<header id="header">
  <div id="logo">
    <h2><a href="/">Instagram</a></h2>
  </div>
  <div id="search">
    <input type="text" id="search-user" placeholder="Search" />
  </div>
  <div id="profile">
    <a href="#"><img src="/img/users/default.jpg" alt="user-photo" /></a>
  </div>
</header>
