<link rel="stylesheet" href="/css/post.css" />
<div id="post-container">
  <div id="user">
    <div id="user-info">
      <div id="user-photo">
        <img src="/img/users/<%=post.user.photo%>" alt="user-photo" />
      </div>
      <div id="user-name">
        <p><%=post.user.name%></p>
      </div>
    </div>
    <div id="dlt">
      <button id="dlt-btn" data-post-id="<%=post.id%>">
        <img
          src=" https://www.flaticon.com/svg/static/icons/svg/1828/1828843.svg"
        />
      </button>
    </div>
  </div>
  <div id="post">
    <div id="post-img">
      <img src="/img/posts/<%=post.photo%>" />
    </div>
    <div id="post-activity">
      <button id="like-unlike">
        <img
          src="https://www.flaticon.com/svg/static/icons/svg/3507/3507627.svg"
        />
      </button>
      <button id="comment">
        <img
          src=" https://www.flaticon.com/svg/static/icons/svg/2462/2462719.svg"
          alt="comment-icon"
        />
      </button>
    </div>
    <div id="likes">1 likes</div>
    <div id="post-content">
      <p>asas</p>
    </div>
  </div>
  <div id="comment-form">
    <input type="text" id="comment" placeholder="Add a comment..." />
    <button id="comment-btn">Post</button>
  </div>
</div>
