<link rel="stylesheet" href="/css/emailverify.css" />
<div id="email-container">
    <h1>Verify Your Email</h1>
    <div id="email-content">
        <p id="text">Hey, now you are the part of media. Please veify Your email address to enjoy the Services.</p>
        <p id="thanks">Thank You!</p>
    </div>
</div>