<link rel="stylesheet" href="/css/sign.css" />
<div id="container" class="mg-forgot">
  <h1>Trouble Logging In?</h1>
  <p id="para-forgot">
    Enter your email and we'll send you a link to get back into your account.
  </p>
  <div id="form-container">
    <form id="form-forgot">
      <div class="form-group">
        <input
          name="email"
          type="email"
          required
          placeholder="Email"
          id="email"
        />
      </div>
      <button class="sign-btn" id="forgot">Send Login Link</button>
    </form>
  </div>
  <div id="get-signup">
    <a href="/accounts/signup">Create New Account</a>
  </div>
</div>
<div id="container-bottom">
  <p><a href="/accounts/login">Back To Login</a></p>
</div>
