<link rel="stylesheet" href="/css/post.css" />
<%if(locals.user){%>
  <div id="home-post-content">
    <%for(post of posts){%> <%-include('_post');%> <%}%>
  </div>
  <%}else{%> <%- include('sign-in'); %> <%}%>
</div>
