<link rel="stylesheet" href="/css/sign.css" />
<div id="container" class="mg-login">
  <h1 id="h1">Instagram</h1>
  <div id="form-container">
    <form id="form-reset">
      <div class="form-group">
        <input
          type="password"
          name="password"
          placeholder="Password"
          minlength="8"
          id="password"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
          minlength="8"
          id="confirmPassword"
        />
      </div>
      <button class="sign-btn" id="reset">Reset Password</button>
    </form>
  </div>
  <div id="get-forgot-form">
    <a href="/accounts/login" class="anchor">Log In</a>
  </div>
</div>
<div id="container-ask">
  <p>
    <a href="/accounts/signup" class="anchor">Create New Account</a>
  </p>
</div>
<!-- <script src="/js/reset.js"></script> -->
