<link rel="stylesheet" href="/css/sign.css" />
<div id="container" class="mg-signup">
  <h1>Instagram</h1>
  <p id="para">Sign up to see photos and content from your friends.</p>
  <div id="form-container">
    <form id="form-signup">
      <div class="form-group">
        <input
          name="email"
          type="email"
          required
          placeholder="Email"
          id="email"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="name"
          required
          placeholder="Full Name"
          id="name"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          placeholder="Password"
          minlength="8"
          id="password"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
          minlength="8"
          id="confirmPassword"
        />
      </div>
      <button class="sign-btn" id="sign-up">Sign up</button>
    </form>
  </div>
</div>
<div id="container-ask">
  <p>Have an account? <a href="/accounts/login">Log In</a></p>
</div>
