<link rel="stylesheet" href="/css/sign.css" />
<div id="container" class="mg-login">
  <h1 id="h1">Instagram</h1>
  <div id="form-container">
    <form id="form-login">
      <div class="form-group">
        <input
          name="email"
          type="email"
          required
          placeholder="Email"
          id="email"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          name="password"
          placeholder="Password"
          minlength="8"
          id="password"
        />
      </div>

      <button class="sign-btn" id="log-in">Log In</button>
    </form>
  </div>
  <div id="get-forgot-form">
    <a href="/accounts/password/forgot">Forgot Password?</a>
  </div>
</div>
<div id="container-ask">
  <p>Don't have an account? <a href="/accounts/signup">Sign up</a></p>
</div>
