<link rel="stylesheet" href="/css/sign.css" />
<div id="container">
  <h1>Instagram</h1>
  <p id="para">Sign up to see photos and content from your friends.</p>
  <div id="form-container">
    <div class="form-group">
      <input name="email" type="email" required placeholder="Email" />
    </div>
    <div class="form-group">
      <input type="text" name="name" required placeholder="Full Name" />
    </div>
    <div class="form-group">
      <input
        type="password"
        name="password"
        placeholder="Password"
        minlength="8"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        minlength="8"
      />
    </div>
    <button class="sign-btn" id="sign-up">Sign up</button>
  </div>
</div>
<div id="container-ask">
  <p>Have an account? <a href="/accounts/login">Log In</a></p>
</div>
