#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 2px;
  border-bottom: 1px solid grey;
  #logo {
    a {
      text-decoration: none;
      color: black;
    }
  }
  #search {
    input {
      padding: 2px 5px;
      font-size: 1.1rem;
    }
    input:focus {
      outline: none;
    }
    input::placeholder {
      text-align: center;
    }
  }
  #profile {
    height: 3rem;
    width: 3rem;
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
}
