#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  border-bottom: 1px solid #e0dcdc; }
  #header #logo {
    margin-right: 10rem; }
    #header #logo a {
      text-decoration: none;
      color: black; }
  #header #search {
    margin-right: 10rem; }
    #header #search input {
      padding: 2px 5px;
      font-size: 1.1rem;
      width: 18rem; }
    #header #search input:focus {
      outline: none; }
    #header #search input::placeholder {
      text-align: center; }
  #header #profile {
    height: 3rem;
    width: 3rem;
    margin-left: 4rem; }
    #header #profile img {
      height: 100%;
      width: 100%;
      border-radius: 50%; }
