.post-comment-conatiner {
  display: flex;
  flex-direction: row;
  width: 60rem;
  margin: 3rem auto;
  border: 1px solid #dfdada; }

.post-container {
  width: 40rem;
  border: 1px solid #dfdada;
  display: flex;
  border-radius: 5px;
  flex-direction: column; }
  .post-container .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid #f1ebeb; }
    .post-container .user .user-info {
      width: 30%;
      display: flex;
      align-items: center; }
      .post-container .user .user-info .user-photo {
        width: 3rem; }
        .post-container .user .user-info .user-photo img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }
      .post-container .user .user-info .user-name {
        margin-left: 1rem; }
        .post-container .user .user-info .user-name p {
          font-size: 1.2rem;
          cursor: pointer; }
          .post-container .user .user-info .user-name p a {
            text-decoration: none;
            color: blue; }
          .post-container .user .user-info .user-name p a:hover {
            text-decoration: underline; }
    .post-container .user .dlt .dlt-btn {
      border: none;
      outline: none;
      background-color: transparent;
      border-radius: 50%;
      width: 2rem;
      cursor: pointer; }
      .post-container .user .dlt .dlt-btn img {
        width: 100%;
        height: 100%; }
  .post-container .post {
    width: 100%; }
    .post-container .post .post-img {
      width: 100%;
      padding: 0 60px; }
      .post-container .post .post-img img {
        width: 100%;
        height: 100%; }
    .post-container .post .post-activity {
      width: 100%;
      display: flex;
      padding: 8px 15px; }
      .post-container .post .post-activity .like-unlike {
        border: none;
        outline: none;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.5rem;
        background-color: transparent;
        cursor: pointer; }
        .post-container .post .post-activity .like-unlike img {
          width: 100%;
          height: 100%; }
      .post-container .post .post-activity .comment-pop-btn {
        border: none;
        outline: none;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        background-color: transparent; }
        .post-container .post .post-activity .comment-pop-btn img {
          width: 100%;
          height: 100%; }
    .post-container .post .likes {
      width: 100%;
      padding: 8px 15px; }
    .post-container .post .post-content {
      width: 100%;
      padding: 8px 15px; }
      .post-container .post .post-content p {
        font-size: 1.2rem; }
  .post-container .comment-form form {
    width: 100%;
    border-top: 1px solid #f1ebeb;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between; }
    .post-container .comment-form form .comment {
      width: 90%;
      border: none;
      outline: none;
      padding: 3px;
      font-size: 1.2rem; }
    .post-container .comment-form form .comment-btn {
      width: 10%;
      background-color: dodgerblue;
      padding: 5px;
      font-size: 1.3rem;
      color: white;
      outline: none;
      border: none;
      cursor: pointer; }

.comments-container {
  padding: 5px;
  width: 20rem;
  height: 30rem;
  overflow-y: scroll; }
  .comments-container div {
    margin: 10px 0; }
    .comments-container div .name {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .comments-container div .name a {
        font-size: 1.3rem;
        font-weight: bold;
        text-decoration: none;
        color: blue; }
      .comments-container div .name a:hover {
        text-decoration: underline; }
      .comments-container div .name .dlt-btn {
        border: none;
        outline: none;
        width: 1rem; }
        .comments-container div .name .dlt-btn img {
          width: 100%;
          cursor: pointer; }
    .comments-container div p {
      margin: 5px 0; }
  .comments-container .comment-activity {
    display: flex; }
  .comments-container .like-unlike {
    width: 1rem;
    border: none;
    outline: none;
    margin-left: 10px;
    background-color: transparent; }
    .comments-container .like-unlike img {
      width: 100%;
      height: 100%;
      cursor: pointer; }

.comments-container::-webkit-scrollbar {
  display: none; }
